node-red/flows_v1.json
[
    {
        "id": "3b781ccbf12f8cad",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4e19e63bc7b7144",
        "type": "e-mail",
        "z": "3b781ccbf12f8cad",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "laurasofiaayalamartinez@gmail.com",
        "dname": "Reporte flujo",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "65bbc4c649d93855",
        "type": "influxdb out",
        "z": "3b781ccbf12f8cad",
        "influxdb": "22d1113c695db1b2",
        "name": "sendDataInfluxdb",
        "measurement": "flujo_agua_final",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "flujo",
        "bucket": "proyectoFlujoDB",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "9cc5751cb9b38788",
        "type": "mqtt in",
        "z": "3b781ccbf12f8cad",
        "name": "MQTT Flujo Agua",
        "topic": "sensor/flujo",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e6e29d829850ee98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "35f845163929005d",
                "4f05d6b9cf6a176e"
            ]
        ]
    },
    {
        "id": "35f845163929005d",
        "type": "function",
        "z": "3b781ccbf12f8cad",
        "name": "conversion",
        "func": "msg.tags = {\n    dispositivo: \"ESP32\",\n    ubicacion: \"sala_maquinas\"\n};\n\nmsg.fields = {\n    flujo: Number(msg.payload)\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "65bbc4c649d93855"
            ]
        ]
    },
    {
        "id": "4f05d6b9cf6a176e",
        "type": "function",
        "z": "3b781ccbf12f8cad",
        "name": "función detección anomalia",
        "func": "var flujo = Number(msg.payload);\nvar ahora = new Date();\n\n// Ajuste hora Colombia (UTC-5)\nahora.setHours(ahora.getHours() - 5);\nvar hora = ahora.getHours();\nvar minuto = ahora.getMinutes();\n\nvar esHorarioEvaluacion = (hora >= 0 && hora < 5);\n\n// Umbral mínimo real del sensor YF-S201\nvar UMBRAL_MINIMO = 0.07;\n\nvar DURACION_ANOMALIA_MS = 30 * 60 * 1000;\n\n// ¿Hay flujo real detectable?\nif (flujo >= UMBRAL_MINIMO && esHorarioEvaluacion) {\n    var inicio = context.get('inicioFlujo') || ahora.getTime();\n    context.set('inicioFlujo', inicio);\n\n    var duracionMs = ahora.getTime() - inicio;\n\n    if (duracionMs >= DURACION_ANOMALIA_MS) {\n        var alertaEnviada = context.get('alertaEnviada') || false;\n\n        if (!alertaEnviada) {\n            context.set('alertaEnviada', true);\n\n            var dia = ahora.getDate().toString().padStart(2, '0');\n            var mes = (ahora.getMonth() + 1).toString().padStart(2, '0');\n            var anio = ahora.getFullYear();\n            var horas = ahora.getHours().toString().padStart(2, '0');\n            var minutos = ahora.getMinutes().toString().padStart(2, '0');\n            var segundos = ahora.getSeconds().toString().padStart(2, '0');\n\n            var duracionSeg = Math.round(duracionMs / 1000);\n\n            msg.topic = \"⚠️ ALERTA: Posible anomalía de consumo de agua\";\n            msg.payload =\n                \"ALERTA DE CONSUMO ANÓMALO\\n\\n\" +\n                \"Se detectó flujo continuo en horario de evaluación.\\n\\n\" +\n                \"Caudal actual: \" + flujo + \" L/min\\n\" +\n                \"Duración del flujo: \" + duracionSeg + \" segundos\\n\" + // en pruebas muestra segundos\n                \"Hora de detección: \" + dia + \"/\" + mes + \"/\" + anio + \" \" + horas + \":\" + minutos + \":\" + segundos + \"\\n\\n\" +\n                \"Posible causa: fuga activa o llave dejada abierta.\\n\\n\" +\n                \"Sistema IoT - Monitoreo de Agua - Bucaramanga\";\n\n            return msg;\n        }\n    }\n} else {\n    // Flujo interrumpido, bajo el mínimo, o fuera del horario → reiniciar\n    context.set('inicioFlujo', null);\n    context.set('alertaEnviada', false);\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "a4e19e63bc7b7144"
            ]
        ]
    },
    {
        "id": "22d1113c695db1b2",
        "type": "influxdb",
        "hostname": "52.15.132.74",
        "port": 8086,
        "protocol": "http",
        "database": "proyectoFlujoDB",
        "name": "bdInfluxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://3.150.188.167:8086",
        "timeout": "60",
        "rejectUnauthorized": false
    },
    {
        "id": "e6e29d829850ee98",
        "type": "mqtt-broker",
        "name": "BrokerFlujoAgua",
        "broker": "3.150.188.167",
        "port": 1883,
        "clientid": "NodeRedFlujoAgua",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "79b6d092b6dc11f5",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-email": "5.2.1",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]
